In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../datasets/cyberbullying_tweets.csv")

In [4]:
df_gender = df[df['cyberbullying_type'] == 'gender'].reset_index(drop=True)

In [5]:
df_gender.to_csv("../datasets/gender_only.csv", index=False)

In [6]:
df_gender.head()

                                          tweet_text cyberbullying_type
0  rape is real..zvasiyana nema jokes about being...             gender
1  You never saw any celebrity say anything like ...             gender
2  @ManhattaKnight I mean he's gay, but he uses g...             gender
3  RT @Raul_Novoa16: @AliciaBernardez @Alex_Aim @...             gender
4  Rape is rape. And the fact that I read one pos...             gender